/*  1.| development globals 
	---------------------------- */
/* 1. | Import(s)
	---------------------------- */
@import url("vendor/normalize.3.0.1.css");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#chalk .action {
  background-color: #4BCA47; }
  #chalk .action:hover {
    background-color: #2e932a; }

#chalk .danger {
  background-color: #C63939; }
  #chalk .danger:hover {
    background-color: #9a2c2c; }

.epic {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e5e5e5; }
  .epic .user-project-list ul li {
    border-bottom: 1px solid #e5e5e5; }
  .epic .user-project-list ul li:last-child {
    border-bottom: 0 none; }
  .epic .tab {
    background-color: #F9F9F9;
    background-image: -webkit-linear-gradient(#F9F9F9, #F6F6F6);
    background-image: linear-gradient(#F9F9F9, #F6F6F6);
    border-bottom: 1px solid #e5e5e5; }

.errors {
  background-color: #f2dede;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid #EBB8B8;
  box-shadow: 0 2px 4px #f1f1f1;
  color: #DF6C62;
  padding: 1%;
  text-shadow: 1px 1px #FDEEEE; }

.success {
  background-color: #dff0d8;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid #CCE1C4;
  box-shadow: 0 2px 4px #f1f1f1;
  color: #9EAD98;
  padding: 1%;
  text-shadow: 1px 1px #E3FED8; }

header {
  background-color: #F9F9F9;
  background-image: -webkit-linear-gradient(#F9F9F9, #F6F6F6);
  background-image: linear-gradient(#F9F9F9, #F6F6F6);
  border-bottom: 1px solid #e5e5e5; }
  header .user-info {
    font-size: 0.8rem;
    font-weight: bold; }

.helper {
  font-size: 0.8em;
  font-weight: 600; }

.epic .helper {
  color: #e5e5e5; }

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 1rem;
  padding-top: 3rem; }

form {
  background-color: #F9F9F9;
  background-image: -webkit-linear-gradient(#F9F9F9, #F6F6F6);
  background-image: linear-gradient(#F9F9F9, #F6F6F6);
  border: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px #f1f1f1; }

form.clean {
  background-color: transparent;
  background-image: none;
  box-shadow: none; }

header form {
  border: none;
  padding: 0; }

ul.news-feed li {
  border-bottom: 1px solid #e5e5e5; }
ul.news-feed li:last-child {
  border-bottom: 0 none; }

/** 
	Table of Contents - Structure
	----------------------
	1. Chalklines ( Responsive Containers )
	2. Chalk 
	3. Chalkbox
	4. Epic
		1. Create
		2. Project-count
		3. User-project-list
			1. Ul
				2. Li
		4. Tab
	5. Header
		1. All Children
		2. Brand
			1. Img
		3. Div
		4. Input
		5. Project
		6. Ul
			1. Li
		7. User Info
		8. User Public
		9. User Private
	6. News-feed
		1. ul
	7. Icon	
	8. Footer
		1. All Childern
		2. Center
		3. Left
		4. Right
	9. Form
**/
.chalk-lines-center {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  margin-bottom: 3%; }
  .chalk-lines-center:last-child {
    margin-right: 0; }

.chalk-lines-25 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .chalk-lines-25:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px)  {
    .chalk-lines-25 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .chalk-lines-25:last-child {
        margin-right: 0; } }

.chalk-lines-50 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .chalk-lines-50:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px)  {
    .chalk-lines-50 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .chalk-lines-50:last-child {
        margin-right: 0; } }

.chalk-lines-75 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .chalk-lines-75:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px)  {
    .chalk-lines-75 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .chalk-lines-75:last-child {
        margin-right: 0; } }

.chalk-lines-100 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-bottom: 1.3em; }
  .chalk-lines-100:last-child {
    margin-right: 0; }

#chalk {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1% 1% 1% 1%; }
  #chalk:last-child {
    margin-right: 0; }

#chalkbox {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #chalkbox:after {
    content: "";
    display: table;
    clear: both; }

.epic {
  padding: 0.5%; }
  .epic .create {
    float: right; }
  .epic .project-count {
    float: left;
    padding-left: 2%;
    padding-top: 2%; }
  .epic .user-project-list ul li {
    display: block;
    padding: 0.5%;
    padding-left: 9px; }
  .epic .tab {
    width: 100%;
    display: block;
    height: 44px;
    padding: 0.5%; }
  .epic ul li {
    display: inline;
    padding: 0 1.9rem 0 0; }

.description * {
  display: inline; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 0 8px 0; }
  header:last-child {
    margin-right: 0; }
  header * {
    display: inline;
    vertical-align: middle; }
  header .brand {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    text-align: center; }
    header .brand:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      header .brand {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header .brand:last-child {
          margin-right: 0; } }
    header .brand img {
      height: auto;
      max-width: 39px; }
  header div {
    margin-top: 0.7rem; }
  header input[type="text"] {
    margin-bottom: 0; }
  header .project-search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    header .project-search:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      header .project-search {
        display: none; } }
  header ul li {
    padding: 0 1.9rem 0 0; }
  header .user-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right; }
    header .user-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      header .user-info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        header .user-info:last-child {
          margin-right: 0; } }
    header .user-info ul li {
      padding: 0 1rem 0 0; }
    header .user-info img {
      border-radius: 50%; }
  header .user-private {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    header .user-private:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      header .user-private {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        header .user-private:last-child {
          margin-right: 0; } }
  header .user-public {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    header .user-public:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      header .user-public {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        header .user-public:last-child {
          margin-right: 0; } }
  header .uri-public {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    header .uri-public:last-child {
      margin-right: 0; }

[class*="icon-"] {
  padding-right: 15px;
  padding-left: 13px; }

.helper {
  padding-left: 12px; }

.news-feed li {
  padding-top: 3%;
  padding-bottom: 3%; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }
  footer * {
    display: inline; }
  footer .center {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: center; }
    footer .center:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      footer .center {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding-top: 3%; }
        footer .center:last-child {
          margin-right: 0; } }
    footer .center img {
      height: auto;
      max-width: 39px; }
  footer .left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    footer .left:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      footer .left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        footer .left:last-child {
          margin-right: 0; } }
    footer .left ul li {
      padding: 0 1.9rem 0 0; }
  footer .right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: right; }
    footer .right:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px)  {
      footer .right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        footer .right:last-child {
          margin-right: 0; } }
    footer .right ul li {
      padding: 0 1.9rem 0 0; }

form {
  padding: 1.5%; }

.errors {
  margin-bottom: 1.5%; }

.warning {
  margin-bottom: 1.5%; }

.success {
  margin-bottom: 1.5%; }

header #nav-open-btn {
  display: none; }

button, input[type="submit"], button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.63em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover, button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }



body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }





button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }





fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

@font-face {
  font-family: 'icomoon';
  src: url('vendor/icomoon/fonts/icomoon.eot?bfz153');
  src: url('vendor/icomoon/fonts/icomoon.eot?#iefixbfz153') format('embedded-opentype'), url('vendor/icomoon/fonts/icomoon.woff?bfz153') format('woff'), url('vendor/icomoon/fonts/icomoon.ttf?bfz153') format('truetype'), url('vendor/icomoon/fonts/icomoon.svg?bfz153#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #e5e5e5;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bullhorn:before, .icon-update:before {
  content: "\e601"; }

.icon-notebook:before, .icon-project:before {
  content: "\e600"; }

.icon-clock:before, .icon-time:before {
  content: "\e602"; }

.icon-clock2:before, .icon-time-stop:before {
  content: "\e603"; }

.icon-feed:before {
  content: "\e604"; }
