
//buttons
#chalk .action{
	background-color:$color-green;
	&:hover {
		background-color:darken($color-green, 16.3);
	}
}
#chalk .danger{
	background-color:$color-red;
	&:hover {
		background-color:darken($color-red, 11);
	}
}

.epic{
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-right-radius(5px);
	border: 1px solid $color-gray-drak;
	.create{
		
	}
	.project-count{
		
	}
	.user-project-list{
		ul{
			li{
				border-bottom: 1px solid $color-gray-drak;			
				
			}
			li:last-child{
				border-bottom: 0 none;
			}
		}
	}
	.tab{
		@include linear-gradient($color-gray, $color-gray-light);
		border-bottom: 1px solid $color-gray-drak;
	}
}
// Validation
.errors{
	background-color: $color-error;
	@include border-top-radius(1px);
	@include border-bottom-radius(1px);
	@include border-left-radius(1px);
	@include border-right-radius(1px);
	border: 1px solid #EBB8B8;
	box-shadow: 0 2px 4px darken($color-gray, 3);
	color: #DF6C62;
	padding: 1%;
	text-shadow: 1px 1px #FDEEEE;	
}

.success{
	background-color: $color-success;
	@include border-top-radius(1px);
	@include border-bottom-radius(1px);
	@include border-left-radius(1px);
	@include border-right-radius(1px);
	border: 1px solid #CCE1C4;
	box-shadow: 0 2px 4px darken($color-gray, 3);
	color: #9EAD98;
	padding: 1%;
	text-shadow: 1px 1px #E3FED8;
}

//structure elements
header{
	
	@include linear-gradient($color-gray, $color-gray-light);
	border-bottom: 1px solid #e5e5e5;
	
	.user-info{
		font-size: .8rem;
		font-weight: bold;
	}
}
.helper{
	font-size: .8em;
	font-weight: 600;
}
.epic{
	.helper{
	color: #e5e5e5;
}

	
}

footer{
	
	border-top: 1px solid $color-gray-drak;
	margin-top: 1rem;
	padding-top: 3rem;
}


// Forms
form{
	@include linear-gradient($color-gray, $color-gray-light);
	border: 1px solid $color-gray-drak;
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-right-radius(5px);
	box-shadow: 0 2px 4px darken($color-gray, 3);
}

form.clean{
	background-color: transparent;
	background-image:none;
	box-shadow: none;
}
form.bare{
	box-shadow: none;
	background-color: transparent;
	background-image:none;
	border: 0 none;
}
header form{
	border: none;
	padding: 0;
	
}

ul.news-feed{	
	li{
		border-bottom: 1px solid $color-gray-drak;
	}
	li:last-child{
		border-bottom: 0 none;
	}
}