
// Presentation
// Buttons
$color-green:#4BCA47;
$color-red:#C63939;

// Forms
$color-gray: #F9F9F9;
$color-gray-light:#F6F6F6;
$color-gray-drak:#e5e5e5;
// Validation
$color-success: #dff0d8;
$color-error: #f2dede;
$color-warning: #fcf8e3;

// Structure
// List Item Variables
$ListItem-Padding: 0 1.9rem 0 0;
$ListItem-LastItem-Padding: 0 1rem 0 0;



